---
- name: Download countries networks list
  local_action:
    module: ansible.builtin.get_url
    url: "https://www.ipdeny.com/ipblocks/data/aggregated/{{ item }}-aggregated.zone"
    dest: "{{ inventory_dir }}/.cache/{{ item }}.zone"
    mode: 0640

- name: Read zone file
  local_action:
    module: ansible.builtin.command
    cmd: "cat {{ inventory_dir }}/.cache/{{ item }}.zone"
  register: ipset_zone
  changed_when: false

- name: Init var ipset_country
  set_fact:
    ipset_country: "{{ ipset_country | default({}, true) }}"

- name: Set var(dict) country
  set_fact:
    country: "{{ {item: ipset_zone.stdout_lines} }}"

- name: "Add item to ipset_country: {{ item }}"
  set_fact:
    ipset_country: "{{ ipset_country | combine(country) }}"
