---
- name: Set ipset_countries fact
  set_fact:
    ipset_countries: "{{ host_vars['ipset_countries'] | default(ipset_countries) }}"

- name: Debug ipset_countries
  ansible.builtin.debug:
    var: ipset_countries

- name: "Create directory {{ ipset_config_file | dirname }}"
  ansible.builtin.file:
    path: "{{ ipset_config_file | dirname }}"
    state: directory
    mode: "0700"

- name: Create cache directory in the inventory
  ansible.builtin.file:
    path: "{{ inventory_dir }}/.cache"
    state: directory
    mode: "0755"
  delegate_to: localhost

- name: Update repository cache on Debian
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
  when:
    - ansible_distribution == 'Debian'

- name: Update repository cache on Alpine
  community.general.apk:
    update_cache: true
  when:
    - ansible_distribution == 'Alpine'

- name: Install required packages
  package:
    name:
      - ipset
      - iptables

- name: Debug
  ansible.builtin.debug:
    var: ansible_service_mgr

- name: Include country tasks
  ansible.builtin.include_tasks: country.yml
  with_items: "{{ ipset_countries }}"
  tags:
    - country

- name: Include gcloud tasks
  ansible.builtin.include_tasks: gcloud.yml

- name: "Create ipset rules {{ ipset_config_file }}"
  ansible.builtin.template:
    src: ipset.j2
    dest: "{{ ipset_config_file }}"
    mode: 0644

# - name: restore ipset rules {{ ipset_config_file }}
#   shell: ipset restore -exist < {{ ipset_config_file }}
#   changed_when: ipset_clear

- name: Create ipset systemd service
  ansible.builtin.template:
    src: ipset.service.j2
    dest: /etc/systemd/system/ipset.service
    mode: 0644
  notify:
    - Reload ipset
  when: ansible_service_mgr == "systemd"
  tags:
    - notest
    - molecule-notest

- name: Enable ipset systemd service
  ansible.builtin.service:
    name: ipset
    enabled: true
    state: restarted
    daemon_reload: true
  when: ansible_service_mgr == "systemd"
  tags:
    - notest
    - molecule-notest
