---
- name: Reload ipset
  ansible.builtin.systemd:
    name: ipset
    state: restarted
    enabled: true

- name: Reload iptables
  ansible.builtin.systemd:
    name: iptables
    state: restarted
    enabled: true
